html, body{
    background-color: rgb(166, 196, 196);
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient( 135deg, #FFD26F 10%, #3677FF 100%);
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
}
.map {
  position: absolute  ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.add-placemark {
  margin-top: 2.15%;
  margin-left: 7%;
  position: absolute;
  z-index: 3;
  --main-focus: #2d8cf0;
  --font-color: #010101;
  --bg-color: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
  --main-color: #323232;
  position: relative;
  width: 160px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: auto;
}

.add-placemark, .button__icon, .button__text {
  transition: all 0.3s;
}

.add-placemark .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.add-placemark .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-placemark .svg {
  width: 20px;
  fill: var(--main-color);
}

.add-placemark:hover {
  background: var(--bg-color);
}

.add-placemark:hover .button__text {
  color: transparent;
}

.add-placemark:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.add-placemark:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
.input{
    position: absolute;
    width: 230px;
    height: 20px;
    z-index: 3;
    margin-top: 35%;
    background-color: #212121;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  color: #37FF8B;
}
.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}
select {
  appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #212121;
  width: 230px;
  margin-left: 7%;
  color: #37FF8B;
}
select:focus {
  outline: none;
  border-color: #37FF8B;
}
select::-ms-expand {
  display: none;
}
#date{
  margin-top: 55%;
  display: block;
}
#time-start, #time-end{
  display: none;
  width: 80px;
}
#time-end{
  margin-left: 50%;
}
#date-weekday{
  margin-top: 65%;
}
.input2{
    position: absolute;
    width: 230px;
    height: 20px;
    z-index: 3;
    background-color: #212121;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  color:#37FF8B;
}
.input2:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  .modal-placemark {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  .add-placemark2 {
    margin-left: 7%;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  }
.add-placemark2 {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.add-placemark2:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
.modal-placemark-title{
  color: #81FBB8;
  font-family: "Jetbrains Mono", monospace;
}
  .modal-content-placemark {
    position: fixed;
    background-color: #212121;
    padding: 20px;
    border: 1px solid #888;
    width: 23%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 20px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .title{
    font-family: "Jetbrains Mono", monospace;
    font-size: 40px;
    color: #81FBB8;
  }
  .start-discount{
    font-size: 25px;
    color: #37FF8B;
    text-decoration: none;
  }
  .start-discount a {
    font-size: 20px;
    color: #fcfffc;
    text-decoration: none;
}

.start-discount a:active {
    color: #ff0000;
}
  .modal-content-placemark::-webkit-scrollbar {
    width: 6px;
  }
  
  .modal-content-placemark::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .modal-content-placemark::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }
  .title-menu h1{
    font-family: "Jetbrains Mono", monospace;
    font-size: 40px;
    color: #fcfffc;
  }
  .list_menu a{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    color: #fcfffc;
    border-left: 2px solid #37FF8B;
    transition: 0.2s ease;
    padding-left: 5px;
    text-decoration: none;
  }
  .list_menu ul{
    list-style-type: none;
  }
  .list_menu a:hover{
    border-left: 2px solid #37FF8B;
    transition: 0.2s ease;
    padding-left: 10px;
  }
  .list_menu li{
    margin: 20px 0 0 -40px;
  }
  .list_menu{
    margin-bottom: 50px;
  }
  .menu {
    padding: 25vh 50px;
    background: rgba(20, 20, 20, 0.7);
    height: 100vh;
    border-right: 3px solid #000000;
    position: fixed;
    transition: 0.4s ease;
    z-index: 7;
    backdrop-filter: blur(5px);
    left: -48vh;
  }
  .menu-window-open{
    left: 0;
    transition: 0.5s ease;
  }
  .footer_menu p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: #fcfffc;
    opacity: 0.7;
  }
  .menu-button{
    position: absolute;
    z-index: 6;
    top: 3.7%;
    left: 2%;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #ffffff;  
    cursor: pointer;
  }
  .menu-button img{
    width: 80%;
    height: 80%;
  }
  .slider-container {
    width: 260px;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .slider {
    width: 100%;
    margin-right: 10px;
  }
  #sliderValue {
    font-size: 18px;
    color: #37FF8B;
  }
  /* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* To hide the checkbox */
#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  background-color: rgb(148, 118, 255);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: .2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: #37FF8B;
  transition-duration: .2s;
}
#radioButton, #myLabel, #myLabelText{
  position: fixed;
  margin-top: 11%;
  margin-left: -1%;
}
#myLabelText{
  margin-top: 9.6%;
  color: white;
  margin-left: 6%;
  font-size: 20px;
}
#radioButton2, #myLabel2, #myLabelText2{
  position: fixed;
  margin-top: 11%;
  margin-left: 18%;
  
}
#myLabelText2{
  margin-top: 9.6%;
  color: white;
  margin-left: 24%;
  font-size: 20px;
}
  @media screen and (min-width: 320px) and (max-width: 420px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    .map {
      width: 100%;
      height: 100%;
    }
    .add-placemark {
      margin-top: 2.5%;
      margin-left: 25%;
        width: 130px;
    }
    .input{
      width: 75%;
    }
    .input2 {
      width: 75%;
    }
    .modal-content-placemark {
      width: 85%;
    }
    .menu-button{
      left: 5%;
      margin-top: -5%;
    }
    .menu{
      left: -100%;
      width: 40%;
    }
    .menu h1{
      margin-left: -10%;
    }
    .list_menu a{
      margin-left: -10%;
    }
    .menu-window-open{
      left: 0;
    }
    .slider {
      width: 68%
    } 
    .footer_menu {
      margin-left: -10%;
    }
  }

